<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12">
		<kt-widget1-sales-stat cssClasses="card-stretch gutter-b"></kt-widget1-sales-stat>
	</div>
	<div class="col-lg-3 col-12">
		<kt-total-booking cssClasses="card-stretch gutter-b"></kt-total-booking>
	</div>
	<div class="col-lg-3 col-12">
		<kt-pending-booking cssClasses="card-stretch gutter-b"></kt-pending-booking>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-12">
		<kt-total-user cssClasses="card-stretch card-stretch-half gutter-b"></kt-total-user>
	</div>
	<div class="col-lg-3 col-12">
		<kt-total-collector cssClasses="card-stretch card-stretch-half gutter-b"></kt-total-collector>
	</div>
	<div class="col-lg-3 col-12">
		<kt-pending-collector cssClasses="card-stretch card-stretch-half gutter-b"></kt-pending-collector>
	</div>
	<div class="col-lg-3 col-12">
		<kt-completed-booking cssClasses="card-stretch card-stretch-half gutter-b"></kt-completed-booking>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<kt-pending-list cssClasses="card-stretch gutter-b"></kt-pending-list>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 " style="margin-top: 40px;">
<kt-widget12-new-users cssClasses="card-stretch card-stretch-half"></kt-widget12-new-users>
</div>
</div>