
    <div class="card bg-analytics text-white"  [ngClass]="cssClasses" style="height:220px;">
        <div class="card-content">
            <div class="card-body text-center">
                <img src="http://70.37.70.181/Scrap//resources/images/elements/decore-left.png" class="img-left" alt="
card-img-left">
                <img src="http://70.37.70.181/Scrap//resources/images/elements/decore-right.png" class="img-right" alt="
card-img-right">
                <div class="avatar avatar-xl bg-primary shadow mt-0">
                    <div class="avatar-content">
                        <i class="feather icon-award white font-large-1"></i>
                    </div>
                </div>
                <div class="text-center">
                    <h1 class="mb-2 text-warning">Welcome Admin</h1>
                </div>
            </div>
        </div>
    </div>
   
 
    
