<div class="card text-center space event-card totalCampaignCard" style="height:220px;">
    <div class="card-content">
        <div class="card-body" style="height:178px;">
            <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
                <div class="avatar-content">
                    <i class="flaticon-list-2  text-warning font-medium-10"></i>
                </div>
            </div>
            <h2 class="text-bold-700">89</h2>
            <p class="mb-0 line-ellipsis color-title">Pending Booking</p>
        </div>
    </div>
</div>