<kt-portlet>
    <kt-portlet-header [title]="'User Retention'" [class]="'card-head-lg'">
		<ng-container ktPortletTools>
			<!-- <button [routerLink]="['../users/add']" mat-raised-button color="primary" matTooltip="Create new User">New user</button> -->
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
<div class="card card-custom" class="mat-table-wrapper" [ngClass]="cssClasses">
    <!-- Body -->
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
        ></apx-chart>
      </div>
      </div>
</kt-portlet>