
    <div class="card text-center space event-card totalEventCard"  [ngClass]="cssClasses" style="height:220px;">
        <div class="card-content">
            <div class="card-body" style="height:178px;">
                <div class="avatar bg-rgba-info p-50 m-0 mb-1">
                    <div class="avatar-content">
                        <i class="flaticon-book  text-warning font-medium-10"></i>
                    </div>
                </div>
                  <h2 class="text-bold-700">193</h2>
                <p class="mb-0 line-ellipsis color-title">Total Booking</p>
            </div>
        </div>
    </div>
